.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}



.header {
    display: inline-block;
    cursor: pointer;
 
background: #0384a8; /* Old browsers */
background: -moz-linear-gradient(top,  #0384a8 0%, #02598e 44%, #003270 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #0384a8 0%,#02598e 44%,#003270 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #0384a8 0%,#02598e 44%,#003270 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0384a8', endColorstr='#003270',GradientType=0 ); /* IE6-9 */



    
    width: 100%; 
   
}

.tbhead{
    width:100%;
    padding: 5px; 
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
body{
    margin:0px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,606b70+100 */
/*background: #CACCCE;  Old browsers 

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#606b70',GradientType=0 );  IE6-9 
    color: #330075;
    */
}
html{
    height:initial;
}
#mainpgsec{
        text-align: center;
     padding:20%;
    top: 50%;
}

footer{
    text-align:center;
    color:black;
    padding-top: 50px;
}

.std{
    width: 100%;
    margin: auto;
 padding-top:10%;
    top: 20%;
    text-align: center;
   
}
button{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

    padding: 10px;
    border: 2px solid #900303;
    margin:3px;
    margin-right: 10px;
    color: white;
}
.flrig{
    float:right;
}
.hdnav{
    width:20%;
    
}
.hdtitle{
    text-align:center;
    color: white;
}
button:hover,button:active{
        box-shadow: 0px 0px 5px 5px rgba(10, 10, 10, 0.6);
}
.acti:active{
    box-shadow: 0px 0px 5px 5px rgba(10, 10, 10, 0.6);
}

input{
    width: 300px;
    height: 30px;
    border: 2px solid #7D7070;
    font-size: 0.9em;
    padding: 0.2em;
}

form{
    width: 500px;
    margin: auto;
}
img.imgw{width:50%;}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  
@media screen and (max-width: 600px) {  
  input{ width:90%;}
  label{text-align: left;
    float: left;
    width: 100%;
    padding: 0 0 0 3%;}
  form{width: 100%;}
  img.imgw{width:100%;}
}
