/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    /* transform: rotateY(180deg); */
}


.flip-container .vivek {
    transform: rotateY(-180deg);
}
.flip-container, .front, .back {
    width: 100%;
    height: 100%;
    min-height:400px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    margin: 20px;
    position: relative;
    border:2px solid;
}

/* hide back of pane during swap */
.front, .back {
   backface-visibility:  visible;  

    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #D4CCCC;
    padding: 20px 0;
    text-align: center;
}
.vivek .back {
   backface-visibility:  visible;  
}
.vivek .front{
    z-index:-1;
}

/* front pane, placed above back */
.front {
     z-index: 1; 
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: #CED0D6;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background: #F0F1CD;
    backface-visibility:  hidden; 
}

pre{

    background: #e4f5fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4f5fc 0%, #a6d6ea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(100%,#a6d6ea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4f5fc 0%,#a6d6ea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4f5fc 0%,#a6d6ea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4f5fc 0%,#a6d6ea 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4f5fc 0%,#a6d6ea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#a6d6ea',GradientType=0 ); /* IE6-9 */
    padding:10px;
    white-space: pre-wrap;                 /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    white-space: -pre-wrap;                /* Opera 4 thru 6 */
    white-space: -o-pre-wrap;              /* Opera 7 and up */
    word-wrap: break-word;
    font-variant: initial;
    text-align: left;
}

pre.out{

    background: #81D2CB;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd1d1', endColorstr='#cca5a5',GradientType=0 );


    padding:10px;
    white-space: pre-wrap;                 /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    white-space: -pre-wrap;                /* Opera 4 thru 6 */
    white-space: -o-pre-wrap;              /* Opera 7 and up */
    word-wrap: break-word;
    font-variant: initial;
    text-align: left;
}

.disfront{
    position: initial;
}