/* java */

body {
    counter-reset: section;
}

body {
/*  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;*/
}

p:before {
    counter-increment: section;
    content: counter(section) ". ";
}

h3{
    color: rgba(160, 8, 135, 1)
}

mark {
    background-color: yellow;
    color: black;
}

.whcl{
    color:white;
}
pre{

background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(top,  #e4f5fc 0%, #a6d6ea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(100%,#a6d6ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e4f5fc 0%,#a6d6ea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e4f5fc 0%,#a6d6ea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e4f5fc 0%,#a6d6ea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e4f5fc 0%,#a6d6ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#a6d6ea',GradientType=0 ); /* IE6-9 */
padding:10px;
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	 word-wrap: break-word;
         font-variant: initial;
}

pre.out{

background: #81D2CB;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd1d1', endColorstr='#cca5a5',GradientType=0 );


padding:10px;
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	 word-wrap: break-word;
         font-variant: initial;
}

@media screen and (max-width: 600px) {
    table.pgt  {
        width:100%;
       
    }
    table.pgt thead {
      display: none;
    }
    table.pgt td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
      border:1px solid black;
    }
    table.pgt td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
}
 table.pgt td {
     border:1px solid black;
 }