.spst{
    width:1200px;
    margin: auto;
}

.rowsp{
    cursor: pointer;
}
table.sph{
    border: 1px solid #dac7c7;
    border-spacing: 0px;
}
table.sph tr ,table.sph td, table.sph th {
 border-top: 1px solid #dac7c7; 
 border-left: 1px solid #dac7c7; 
}

.sbc{
       background: #d8e2e2;
       
}

select{
    padding:10px 0;
    margin:5px;
}

 button{
    padding:5px;
    
}






 button#logout{
    padding:10px;
        margin:0px;
}

input{
    margin:5px;
}